{% extends "base.html" %}

{% block content %}

    <div class="breadcumb-wrapper " data-bg-src="../static/img/breadcumb/breadcumb-bg.jpg">
        <div class="container z-index-common">
            <div class="breadcumb-content">
                <h1 class="breadcumb-title">About Us</h1>
                <div class="breadcumb-menu-wrap">
                    <ul class="breadcumb-menu">
                        <li><a href="../templates/index.php">Home</a></li>
                        <li>About Us</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- about-section-four -->
    <section class="about-section-four" data-aos="fade-up" data-aos-duration="1000">
        <div class="container-style4">
            <div class="row">
                <div class="col-lg-6 col-md-12 col-sm-12" data-aos="fade-left" data-aos-duration="1500">
                    <div class="about-img-four">
                        <img src="../static/img/about/about4-1.png" alt="">
                    </div>
                </div>
                <div class="col-lg-6 col-md-12 col-sm-12" data-aos="fade-right" data-aos-duration="1500">
                    <div class="about-content4">
                        <span class="sub-title">About Us</span>
                        <h2>Rising Stars School Of Excellence</h2>
                        <p style="text-align: justify;">Rising Stars School of Excellence is one of the schools under
                            Sheela Educational and charitable Trust. Our main motto is to give quality education for all
                            the children without any prejudice. We give an environment where everyone is respected and
                            valued .We highly believe in a strong bond between parents, teachers and management to
                            create a good future for the child with values of excellence, respect, creativity, kindness,
                            confidence, compassion, and capable to making a positive impact on the world.We have skilled
                            teaching and non-teaching staff, who are dedicated and committed to the care and learning of our
                            students. In Rising Stars ‘STARS’ represent Self Reliant, Tenacious, Ameliorative, Radiant,
                            Scholar.
                        </p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12" data-aos="fade-right" data-aos-duration="2000">
                    <div class="about-content4">
                        <p style="text-align: justify;">Our children represent our hopes and dreams for the future,and they
                            deserve the best education that, we can provide them. We believe every student has the potential
                            to succeed
                            in different fields, and we are dedicated to making a difference in children's lives by
                            encouraging them to open their minds to learn, discover and achieve. Our basic principles are
                            respect,kindness and responsibility to govern teaching and learning in a peaceful, productive
                            and orderly learning environment that meets the academic ,social and developmental needs
                            of all our students. We respect our students likes and dislikes ,identify their talents and keep
                            an ear open for the students perspective.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End about-section -->
    
    <center>
        <section class="service-layout8 space-extra-bottom">
            <div class="service-bg"></div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 service-style7 color1" data-aos="fade-up" data-aos-duration="2000">
                        <div class="service-body background-image"
                            style="background-image: url(&quot;../static/img/service/sr-d-7-1.jpg&quot;);">
                            <div class="service-icon background-image"
                                style="background-image: url(&quot;../static/img/service/ser-col-bg7.svg&quot;);">
                                <img src="../static/img/icon/ser7-1.svg" alt="service">
                            </div>
                            <h3 class="service-title">
                                OUR VISION
                            </h3>
                            <p class="service-text">
                                To enrich and inspire children to reach their fullest potential as kind, independent,
                                confident and curious individuals,
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-4 service-style7 color2" data-aos="fade-down" data-aos-duration="2500">
                        <div class="service-body background-image"
                            style="background-image: url(&quot;../static/img/service/sr-d-7-2.jpg&quot;);">
                            <div class="service-icon background-image"
                                style="background-image: url(&quot;../static/img/service/ser-col-bg7.svg&quot;);">
                                <img src="../static/img/icon/ser7-2.svg" alt="service">
                            </div>
                            <h3 class="service-title">
                                OUR MISSION
                            </h3>
                            <p class="service-text">
                                A productive environment ,providing great knowledge and social, cultural emotional
                                development to the students
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </center>
    
    <section>
        <div class="container">
            <h2 class="pt-3" data-aos="fade-right" data-aos-duration="2500">WHAT DIFFERENTIATES US?</h2>
            <div class="title-divider1"></div>
            <div class="row">
                <div class="col-lg-12" data-aos="flip-up" data-aos-duration="3000">
                    <div class="list-style1">
                        <ul class="list-unstyled mb-0">
                            <li>Child centric approach rather than teacher-centric </li>
                            <li>Strong Montessori-based philosophy combined with best practices of early
                                childhood methodology.</li>
                            <li>Goes way beyond song & dance routines, nursery rhymes, and simple playing
                                with toys</li>
                            <li>Materials and tools for learning designed for the curriculum
                            </li>
                            <li>A methodology that instill a sense of purpose & interest to work hard in the
                                child</li>
                            <li>Revolutionary assessment technique</li>
                            <li>A structured learning program for the overall development of the child</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <br><br>
    {% endblock %}