{% extends "base.html" %}

{% block content %}
<div class="breadcumb-wrapper " data-bg-src="../static/img/breadcumb/breadcumb-bg.jpg">
    <div class="container z-index-common">
        <div class="breadcumb-content">
            <h1 class="breadcumb-title">
                Curriculum </h1>
            <div class="breadcumb-menu-wrap">
                <ul class="breadcumb-menu">
                    <li><a href="../templates/index.php">Home</a></li>
                    <li>Curriculum</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<br>
<br>
<section>
    <div class="container">
        <h3 style="text-align:center" data-aos="zoom-in-down" data-aos-duration="2000">OUR CURRICULUM IS FOCUSED ON THE FOLLOWING AREAS OF DEVELOPMENT:</h3>
        <div class="row" data-aos="fade-right" data-aos-duration="2000">
            <div class="col-md-4">
                <div class="info-style2">
                    <h3 class="info-title">Physical</h3>
                    </p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="info-style2">
                    <h3 class="info-title">Intellectual</h3>
                </div>
            </div>
            <div class="col-md-4">
                <div class="info-style2">
                    <h3 class="info-title">Language</h3>
                </div>
            </div>
            <div class="col-md-4">
                <div class="info-style2">
                    <h3 class="info-title">Creative</h3>
                </div>
            </div>
            <div class="col-md-4">
                <div class="info-style2">
                    <h3 class="info-title">Socio Emotional</h3>
                </div>
            </div>
        </div>
        <p style="text-align:center;font-size:21px"  data-aos="slide-right" data-aos-duration="2000">A Curriculum is a set of experiences and events that are planned to
            foster a child’s
            learning. Our curriculum explores. </p>
    </div>
</section>
<br>
<!-- about-phliosophy -->
<section class="about-section-four">
    <div class="container-style4">
        <div class="row" >
            <div class="col-lg-12 col-md-12 col-sm-12" data-aos="slide-left" data-aos-duration="2000">
                <div class="about-content4">
                    <h4 style="color:#4e0300;text-align:center">THE PHILOSOPHY</h4>
                    <h6>A Child’s path to excellence begins with the perfect role model and the perfect tools.”</h6>
                    <h4 style="font-weight:bold">Research proves that Early Education is critical because:</h4>
                    <div class="list-style1">
                        <ul class="list-unstyled mb-0">
                            <li>Brain development is most rapid in the early years</li>
                            <li>75% of neural connectivity is complete by the age of 7.</li>
                            <li>When the quality of stimulation is deficient, child development is
                                seriously affected</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12"  data-aos="slide-right" data-aos-duration="2000">
                <p>The capacity to absorb concepts and learn is highest during Ages 2 to 6. Hence it is
                    important to expose the child to an environment that provides an appropriate stimulus for learning
                </p><br>
                <h4 style="font-weight:bold;">Intelligence is an important factor to consider when a child comes to
                    school.</h4>
            </div>
        </div>
        <div class="row" data-aos="zoom-in-up" data-aos-duration="2000">
            <div class="col-md-4">
                <div class="info-style2" style="background-color:#f0427f;border: none;">
                    <h3 class="info-title" style="color:white">Inherent</h3>
                    </p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="info-style2" style="background-color:#f9bf00;border: none;">
                    <h3 class="info-title" style="color:white">Intelligence</h3>
                </div>
            </div>
            <div class="col-md-4">
                <div class="info-style2" style="background-color:#3c2b99;border: none;">
                    <h3 class="info-title" style="color:white">Acquired</h3>
                </div>
            </div>
        </div>
        <div class="row" data-aos="zoom-in-down" data-aos-duration="2000">
            <div class="col-lg-6">Inherent Intelligence is the maximum intelligence a
                child can achieve in accordance with genes.</div>
            <div class="col-lg-6">Acquired Intelligence is what a child gets with environmental factors like culture,
                family, and education.</div>
        </div>
    </div>
</section>
<!-- End philosophy -->
<br>
<!--Start Environment-->
<section class="about-section-four" data-aos="slide-left" data-aos-duration="2000">
    <div class="container-style4">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="about-content4">
                    <h4 style="color:#4e0300;text-align:center">THE ENVIRONMENT</h4>
                    <p>The environment is a major part of our curriculum. A young child must get daily
                        experience with learning aids in a structured environment which has specific usage,
                        derived from the curriculum. The environment in our curriculum facilitates
                        self-learning in every child.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!--End Environment-->
<br>
<section class="about-section-four" data-aos="slide-right" data-aos-duration="2000">
    <div class="container-style4">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="about-content4">
                    <h4 style="color:#4e0300;text-align:center">THE TEACHERS</h4>
                    <p>Our staff is trained to ensure that the curriculum objectives for each child are met
                        consistently. They are trained to facilitate learning, observe, record, and assess daily.
                        We have an appropriate student-teacher ratio to ensure that every child's needs
                        are met so that they don’t excessively depend on an adult. </p>
                </div>
            </div>
        </div>
    </div>
</section>
<br>
<section class="about-section-four" data-aos="slide-left" data-aos-duration="2000">
    <div class="container-style4">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="about-content4">
                    <h4 style="color:#4e0300;text-align:center">METHADOLOGY</h4>
                    <di class="row">
                        <div class="col-lg-4">
                            <div class="list-style1">
                                <ul class="list-unstyled mb-0">
                                    <li>Teachers are facilitators
                                    </li>
                                    <li>Self-Learning Environment </li>
                                    <li>Each Child at his own pace </li>
                                    <li>Self-correction </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="list-style1">
                                <ul class="list-unstyled mb-0">
                                    <li>Inner discipline</li>
                                    <li>Daily observation and assessment </li>
                                    <li>Socially vibrant environment</li>
                                    <li>Encouraging the child’s inherent desire to do and learn.</li>
                                </ul>
                            </div>
                        </div>
                    </di>
                </div>
            </div>
        </div>
    </div>
</section>
<br>
<section class="about-section-four" data-aos="slide-right" data-aos-duration="2000">
    <div class="container-style4">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="about-content4">
                    <h4 style="color:#4e0300;text-align:center">LEARNING MODES</h4>
                    <p>Our curriculum has activities that are specifically designed to help a child in every
                        area of development. These activities include.</p>
                </div>
                <div class="list-style1">
                    <ul class="list-unstyled mb-0">
                        <li>Individual learning with materials</li>
                        <li>Small group activities in art, language, and gross motor skills</li>
                        <li>Learning through a thematic approach</li>
                        <li>Occasional support learning through role-plays, presentations, storytelling,
                        </li>
                        <li>Project-based learning for older children</li>
                        <li>Cultural celebrations</li>
                    </ul>
                </div>
                <p>A child’s home environment plays an important role in shaping a child’s personality.
                    Our curriculum includes parent feedback sessions and guidelines to ensure that the
                    school and home environment together foster the child’s development.</p>
            </div>
        </div>
    </div>
</section>
<br>
<section class="about-section-four" data-aos="slide-left" data-aos-duration="2000">
        <div class="container-style4">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <div class="about-content4">
                        <h4 style="color:#4e0300;text-align:center">COGNITIVE / ACADEMIC LEARNING</h4>
                        <p>Every activity in the school is done with a clear-cut objective and outcome for the
                            child. <br>
                            In the 2 to 4 years category, we begin with fine motor and practical life skills. English
                            is introduced with phonetics. Mathematics is introduced with materials that help the
                            child comprehend this very abstract area. Other activities help with cognitive
                            development and logical thinking. <br>
                            In the 4 to 6 age group, children are taken through a program that covers fairly
                            complex areas of language, mathematics, geography, history, and science in a
                            manner that will help them understand the fundamentals.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <br>
    <section class="about-section-four" data-aos="slide-right" data-aos-duration="2000">
    <div class="container-style4">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="about-content4">
                    <h4 style="color:#4e0300;text-align:center">CRITICAL NON-ACADEMIC LEARNING</h4>
                    <p>The curriculum provides opportunities for children to make decisions about their
                        work. Children have the choice to work in small groups/ individually depending on
                        their needs. <br>
                        We encourage our children to receive help from and offer help to other children,
                        thus injecting a sense of social awareness. Mixed-age grouping also helps them
                        become better learners. <br>
                        Our curriculum helps them with practical skills like cutting, sieving and gardening,
                        and other areas of art. <br>
                        Physical Development is an important part of childhood and we take special care of
                        this with structured activities.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
<br>
<section class="about-section-four" data-aos="slide-left" data-aos-duration="2000">
    <div class="container-style4">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="about-content4">
                    <h4 style="color:#4e0300;text-align:center">ASSESSMENT</h4>
                    <p>Assessment in the early years of a child has to be a continuous process. Our system
                        constantly checks on the child's progress and helps teachers to keep up with the
                        progress and updates of the child hence they can step in to make any necessary
                        changes.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<br><br>
{% endblock %}