{% extends "base.html" %}

{% block content %}
<div class="breadcumb-wrapper " data-bg-src="../static/img/breadcumb/breadcumb-bg.jpg">
    <div class="container z-index-common">
        <div class="breadcumb-content">
            <h1 class="breadcumb-title">Gallery</h1>
            <div class="breadcumb-menu-wrap">
                <ul class="breadcumb-menu">
                    <li><a href="../templates/index.php">Home</a></li>
                    <li>Gallery</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<br>
<br>
<section class="about-section-four">
    <div class="container">
        <div class="row gy-gx filter-active" style="position: relative; height: 711.974px;">
            <div class="col-sm-6 col-lg-4 filter-item" style="position: absolute; left: 879.974px; top: 0px;" data-aos="zoom-in" data-aos-duration="2000">
                <div class="gallery-style1 layout2">
                    <div class="gallery-img">
                        <img src="../static/img/pic/gallery-01.jpg" alt="gallery">
                        <a href="../static/img/pic/gallery-01.jpg" class="gallery-btn popup-image"><i
                                class="fal fa-plus"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-4 filter-item" style="position: absolute; left: 0px; top: 0px;" data-aos="zoom-in" data-aos-duration="2000">
                <div class="gallery-style1 layout2">
                    <div class="gallery-img">
                        <img src="../static/img/pic/gallery-02.jpg" alt="gallery">
                        <a href="../static/img/pic/gallery-02.jpg" class="gallery-btn popup-image"><i
                                class="fal fa-plus"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-4 filter-item" style="position: absolute; left: 0px; top: 0px;" data-aos="zoom-in" data-aos-duration="2000">
                <div class="gallery-style1 layout2">
                    <div class="gallery-img">
                        <img src="../static/img/pic/gallery-03.jpg" alt="gallery">
                        <a href="../static/img/pic/gallery-03.jpg" class="gallery-btn popup-image"><i
                                class="fal fa-plus"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-4 filter-item" style="position: absolute; left: 0px; top: 0px;" data-aos="zoom-out" data-aos-duration="2500">
                <div class="gallery-style1 layout2">
                    <div class="gallery-img">
                        <img src="../static/img/pic/gallery-04.jpg" alt="gallery">
                        <a href="../static/img/pic/gallery-04.jpg" class="gallery-btn popup-image"><i
                                class="fal fa-plus"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-4 filter-item" style="position: absolute; left: 0px; top: 0px;" data-aos="zoom-out" data-aos-duration="2500">
                <div class="gallery-style1 layout2">
                    <div class="gallery-img">
                        <img src="../static/img/pic/gallery-05.jpg" alt="gallery">
                        <a href="../static/img/pic/gallery-05.jpg" class="gallery-btn popup-image"><i
                                class="fal fa-plus"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-4 filter-item" style="position: absolute; left: 0px; top: 0px;" data-aos="zoom-out" data-aos-duration="2500">
                <div class="gallery-style1 layout2">
                    <div class="gallery-img">
                        <img src="../static/img/pic/gallery-06.jpg" alt="gallery">
                        <a href="../static/img/pic/gallery-06.jpg" class="gallery-btn popup-image"><i
                                class="fal fa-plus"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-4 filter-item" style="position: absolute; left: 0px; top: 0px;" data-aos="zoom-in" data-aos-duration="3000">
                <div class="gallery-style1 layout2">
                    <div class="gallery-img">
                        <img src="../static/img/pic/gallery-07.jpg" alt="gallery">
                        <a href="../static/img/pic/gallery-07.jpg" class="gallery-btn popup-image"><i
                                class="fal fa-plus"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-4 filter-item" style="position: absolute; left: 0px; top: 0px;" data-aos="zoom-in" data-aos-duration="3000">
                <div class="gallery-style1 layout2">
                    <div class="gallery-img">
                        <img src="../static/img/pic/gallery-08.jpg" alt="gallery">
                        <a href="../static/img/pic/gallery-08.jpg" class="gallery-btn popup-image"><i
                                class="fal fa-plus"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-4 filter-item" style="position: absolute; left: 0px; top: 0px;" data-aos="zoom-in" data-aos-duration="3000">
                <div class="gallery-style1 layout2">
                    <div class="gallery-img">
                        <img src="../static/img/pic/gallery-09.jpg" alt="gallery">
                        <a href="../static/img/pic/gallery-09.jpg" class="gallery-btn popup-image"><i
                                class="fal fa-plus"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-4 filter-item" style="position: absolute; left: 0px; top: 0px;" data-aos="zoom-out" data-aos-duration="3500">
                <div class="gallery-style1 layout2">
                    <div class="gallery-img">
                        <img src="../static/img/pic/gallery-10.jpg" alt="gallery">
                        <a href="../static/img/pic/gallery-10.jpg" class="gallery-btn popup-image"><i
                                class="fal fa-plus"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-4 filter-item" style="position: absolute; left: 0px; top: 0px;" data-aos="zoom-out" data-aos-duration="3500">
                <div class="gallery-style1 layout2">
                    <div class="gallery-img">
                        <img src="../static/img/pic/gallery-11.jpg" alt="gallery">
                        <a href="../static/img/pic/gallery-11.jpg" class="gallery-btn popup-image"><i
                                class="fal fa-plus"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-4 filter-item" style="position: absolute; left: 0px; top: 0px;" data-aos="zoom-out" data-aos-duration="3500">
                <div class="gallery-style1 layout2">
                    <div class="gallery-img">
                        <img src="../static/img/pic/gallery-12.jpg" alt="gallery">
                        <a href="../static/img/pic/gallery-12.jpg" class="gallery-btn popup-image"><i
                                class="fal fa-plus"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-4 filter-item" style="position: absolute; left: 0px; top: 0px;" data-aos="zoom-in" data-aos-duration="2000">
                <div class="gallery-style1 layout2">
                    <div class="gallery-img">
                        <img src="../static/img/pic/gallery-13.jpg" alt="gallery">
                        <a href="../static/img/pic/gallery-13.jpg" class="gallery-btn popup-image"><i
                                class="fal fa-plus"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-4 filter-item" style="position: absolute; left: 0px; top: 0px;" data-aos="zoom-in" data-aos-duration="2000">
                <div class="gallery-style1 layout2">
                    <div class="gallery-img">
                        <img src="../static/img/pic/gallery-14.jpg" alt="gallery">
                        <a href="../static/img/pic/gallery-14.jpg" class="gallery-btn popup-image"><i
                                class="fal fa-plus"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-4 filter-item" style="position: absolute; left: 0px; top: 0px;" data-aos="zoom-in" data-aos-duration="2000">
                <div class="gallery-style1 layout2">
                    <div class="gallery-img">
                        <img src="../static/img/pic/gallery-15.jpg" alt="gallery">
                        <a href="../static/img/pic/gallery-15.jpg" class="gallery-btn popup-image"><i
                                class="fal fa-plus"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-4 filter-item" style="position: absolute; left: 0px; top: 0px;" data-aos="zoom-out" data-aos-duration="2000">
                <div class="gallery-style1 layout2">
                    <div class="gallery-img">
                        <img src="../static/img/pic/gallery-16.jpg" alt="gallery">
                        <a href="../static/img/pic/gallery-16.jpg" class="gallery-btn popup-image"><i
                                class="fal fa-plus"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-4 filter-item" style="position: absolute; left: 0px; top: 0px;" data-aos="zoom-out" data-aos-duration="2000">
                <div class="gallery-style1 layout2">
                    <div class="gallery-img">
                        <img src="../static/img/pic/gallery-17.jpg" alt="gallery">
                        <a href="../static/img/pic/gallery-17.jpg" class="gallery-btn popup-image"><i
                                class="fal fa-plus"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-4 filter-item" style="position: absolute; left: 0px; top: 0px;" data-aos="zoom-out" data-aos-duration="2000">
                <div class="gallery-style1 layout2">
                    <div class="gallery-img">
                        <img src="../static/img/pic/gallery-18.jpg" alt="gallery">
                        <a href="../static/img/pic/gallery-18.jpg" class="gallery-btn popup-image"><i
                                class="fal fa-plus"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-4 filter-item" style="position: absolute; left: 0px; top: 0px;" data-aos="zoom-in" data-aos-duration="2000">
                <div class="gallery-style1 layout2">
                    <div class="gallery-img">
                        <img src="../static/img/pic/gallery-19.jpg" alt="gallery">
                        <a href="../static/img/pic/gallery-19.jpg" class="gallery-btn popup-image"><i
                                class="fal fa-plus"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-4 filter-item" style="position: absolute; left: 0px; top: 0px;" data-aos="zoom-in" data-aos-duration="2000">
                <div class="gallery-style1 layout2">
                    <div class="gallery-img">
                        <img src="../static/img/pic/gallery-20.jpg" alt="gallery">
                        <a href="../static/img/pic/gallery-20.jpg" class="gallery-btn popup-image"><i
                                class="fal fa-plus"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-4 filter-item" style="position: absolute; left: 0px; top: 0px;" data-aos="zoom-in" data-aos-duration="2000">
                <div class="gallery-style1 layout2">
                    <div class="gallery-img">
                        <img src="../static/img/pic/gallery-21.jpg" alt="gallery">
                        <a href="../static/img/pic/gallery-21.jpg" class="gallery-btn popup-image"><i
                                class="fal fa-plus"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<br>
<section data-aos="zoom-in-down" data-aos-duration="2000">
    <div class="container">
        <h5 style="text-align:center">Kreedo Lab Setup
        </h5>
        <div class="img-box7 mb-lg-5">
            <div class="mega-hover"><img src="../static/img/class/cls-d-1-1.jpg" alt="class"></div>
        </div>
    </div>
</section>
<br>
<center>
    <h2 style="text-align:center" data-aos="fade-up" data-aos-duration="2000">Ultima</h2>
</center>
<section class="about-section-four">
        <div class="container">
            <div class="row gy-gx filter-active" style="position: relative; height: 711.974px;" data-aos="zoom-in-down" data-aos-duration="2000">
                <div class="col-sm-6 col-lg-4 filter-item" style="position: absolute; left: 879.974px; top: 0px;">
                    <div class="gallery-style1 layout2">
                        <div class="gallery-img">
                            <img src="../static/img/pdf/pdf1.jpg" alt="gallery">
                            <a href="../static/img/pdf/pdf1.jpg" class="gallery-btn popup-image"><i
                                    class="fal fa-plus"></i></a>
                                    <h5 style="text-align:center">Small Preliminary</h5>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-4 filter-item" style="position: absolute; left: 0px; top: 0px;" data-aos="zoom-in-up" data-aos-duration="2000">
                    <div class="gallery-style1 layout2">
                        <div class="gallery-img">
                            <img src="../static/img/pdf/pdf2.jpg" alt="gallery">
                            <a href="../static/img/pdf/pdf2.jpg" class="gallery-btn popup-image"><i
                                    class="fal fa-plus"></i></a>
                                    <h5 style="text-align:center">Big Sensorial</h5>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-4 filter-item" style="position: absolute; left: 0px; top: 0px;" data-aos="zoom-in-left" data-aos-duration="2000">
                    <div class="gallery-style1 layout2">
                        <div class="gallery-img">
                            <img src="../static/img/pdf/pdf3.jpg" alt="gallery">
                            <a href="../static/img/pdf/pdf3.jpg" class="gallery-btn popup-image"><i
                                    class="fal fa-plus"></i></a>
                                    <h5 style="text-align:center">Big Mathematics</h5>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row gy-gx filter-active" style="position: relative; height: 711.974px;" data-aos="zoom-in-right" data-aos-duration="2000">
                <div class="col-sm-6 col-lg-4 filter-item" style="position: absolute; left: 879.974px; top: 0px;">
                    <div class="gallery-style1 layout2">
                        <div class="gallery-img">
                            <img src="../static/img/pdf/pdf4.jpg" alt="gallery">
                            <a href="../static/img/pdf/pdf4.jpg" class="gallery-btn popup-image"><i
                                    class="fal fa-plus"></i></a>
                                    <h5 style="text-align:center">Big Mathematics</h5>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-4 filter-item" style="position: absolute; left: 0px; top: 0px;" data-aos="zoom-in-left" data-aos-duration="2000">
                    <div class="gallery-style1 layout2">
                        <div class="gallery-img">
                            <img src="../static/img/pdf/pdf5.jpg" alt="gallery">
                            <a href="../static/img/pdf/pdf5.jpg" class="gallery-btn popup-image"><i
                                    class="fal fa-plus"></i></a>
                                    <h5 style="text-align:center">Map Stand</h5>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-4 filter-item" style="position: absolute; left: 0px; top: 0px;" data-aos="zoom-in-down" data-aos-duration="2000">
                    <div class="gallery-style1 layout2">
                        <div class="gallery-img">
                            <img src="../static/img/pdf/pdf6.jpg" alt="gallery">
                            <a href="../static/img/pdf/pdf6.jpg" class="gallery-btn popup-image"><i
                                    class="fal fa-plus"></i></a>
                                    <h5 style="text-align:center">Small Culture</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
<br><br>
{% endblock %}
