{% extends "base.html" %}

{% block content %}
<div id="sr-preloader">
    <img src="../static/img/school.gif" alt="Loading..." class="sr-loader">
</div>
<section id="">
    <div class="myfirst">
        <div data-aos="fade-up" data-aos-duration="1000">
            <img src="../static/img/bg/cta-bg-1-1.jpg" alt="Background Image 1">
        </div>
        <div data-aos="fade-left" data-aos-duration="1000">
            <img src="../static/img/bg/cta-bg-1-2.jpg" alt="Background Image 2">
        </div>
        <div data-aos="fade-right" data-aos-duration="1000">
            <img src="../static/img/bg/hero-bg-4-1.png" alt="Background Image 3">
        </div>
    </div>
</section>


<!-- about-section-four -->
<section class="about-section-four">
    <div class="container-style4">
        <div class="row">
            <div class="col-lg-6 col-md-12 col-sm-12" >
                <div class="about-img-four" data-aos="fade-up" data-aos-duration="1500">
                    <img src="../static/img/about/about4-1.png" alt="">
                </div>
            </div>
            <div class="col-lg-6 col-md-12 col-sm-12">
                <div class="about-content4" data-aos="fade-down" data-aos-duration="1500">
                    <span class="sub-title">About Us</span>
                    <h2 style="color:#4e0300">Rising Stars School Of Excellence</h2>
                    <p style="text-align: justify;">Rising Stars School of Excellence is one of the schools under
                        Sheela Educational and charitable Trust. Our main motto is to give quality education for all
                        the children without any prejudice. We give an environment where everyone is respected and
                        valued .We highly believe in a strong bond between parents, teachers and management to
                        create a good future for the child with values of excellence, respect, creativity, kindness,
                        confidence, compassion, and capable to making a positive impact on the world.
                    </p>
                    <a href="../templates/about.php" class="vs-btn banner" tabindex="0">Read More</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End about-section -->

<section class="service-layout8 space-extra-bottom">
    <div class="service-bg"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-4 service-style7 color1" data-aos="zoom-in-up" data-aos-duration="2000">
                <div class="service-body" data-bg-src="../static/img/service/sr-d-7-1.jpg">
                    <div class="service-icon" data-bg-src="../static/img/service/ser-col-bg7.svg">
                        <img src="../static/img/icon/ser7-1.svg" alt="service">
                    </div>
                    <h3 class="service-title">
                        OUR VISION
                    </h3>
                    <p class="service-text">
                        To enrich and inspire children to reach their fullest potential as kind, independent,
                        confident and curious individuals,
                    </p>
                    <div class="service-footer">
                        <a href="../templates/about.php" class="service-link">
                            <i class="fal fa-angle-right"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 service-style7 color2" data-aos="zoom-in-down" data-aos-duration="2000">
                <div class="service-body" data-bg-src="../static/img/service/sr-d-7-2.jpg">
                    <div class="service-icon" data-bg-src="../static/img/service/ser-col-bg7.svg">
                        <img src="../static/img/icon/ser7-2.svg" alt="service">
                    </div>
                    <h3 class="service-title">
                        OUR MISSION
                    </h3>
                    <p class="service-text">
                        A productive environment ,providing great knowledge and social, cultural emotional
                        development to the students
                    </p>
                    <div class="service-footer">
                        <a href="../templates/about.php" class="service-link">
                            <i class="fal fa-angle-right"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 service-style7 color3" data-aos="zoom-in-right" data-aos-duration="2000">
                <div class="service-body" data-bg-src="../static/img/service/sr-d-7-3.jpg">
                    <div class="service-icon" data-bg-src="../static/img/service/ser-col-bg7.svg">
                        <img src="../static/img/icon/ser7-3.svg" alt="service">
                    </div>
                    <h3 class="service-title">
                        WHAT DIFFERENTIATES US?
                    </h3>
                    <p class="service-text">
                        Child centric approach rather than teacher-centric

                    </p>
                    <div class="service-footer">
                        <a href="../templates/about.php" class="service-link">
                            <i class="fal fa-angle-right"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- about-section-four -->
<section class="about-section-four">
    <div class="container-style4">
        <div class="row">
            <div class="col-lg-6 col-md-12 col-sm-12"data-aos="slide-right" data-aos-duration="2500">
                <div class="about-content4">
                    <h4 style="color:#4e0300">PURPOSE OF EDUCATION</h4>
                    <h6>“THE PURPOSE OF EDUCATION IS TO PREPARE THE YOUNG TO EDUCATE
                        THEMSELVES THROUGHOUT THEIR LIVES”</h6>
                    <p style="text-align: justify;margin-bottom: 3px;">Preschool education is not just about art, music,
                        dance, fun, and
                        fantasy, it is to
                        provide comprehensive learning objectives and having a structured way to
                        achieve these objectives.
                    </p>
                    <h5>The 4 major components to achieve these objectives are:</h5>
                    <div class="list-style1">
                        <ul class="list-unstyled mb-0">
                            <li>The philosophy.</li>
                            <li>The curriculum and methodology.</li>
                            <li>The learning tools are offered to the child.</li>
                            <li>The teachers who facilitate learning.</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-12 col-sm-12" data-aos="slide-left" data-aos-duration="2500">
                <div class="about-img-four" style="margin-top:0px">
                    <img src="../static/img/purpose.png" alt="">
                </div>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12" data-aos="slide-up"
data-aos-duration="1000">
                <p>Our curriculum balances these 4 components. The core philosophy is inspired by
                    the Montessori method. Each material has been designed following this philosophy.
                    The teachers have been trained effectively on the philosophy, curriculum, and
                    materials. Academically equipped and socially adept children are what we are
                    striving to provide this world.</p>
            </div>
        </div>
    </div>
</section>
<!-- End about-section -->



<div class="vs-wave-shape  ">
    <svg viewBox="0 0 1920 295" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path class="wave-path" fill-rule="evenodd" clip-rule="evenodd"
            d="M1920 295V202.758C1906.48 131.342 1843.63 77.168 1768.34 77.168C1739.37 77.168 1711.54 85.1814 1687.4 100.128C1650.68 38.4074 1584.56 0 1511.11 0C1412.1 0 1329.2 70.2842 1309.68 163.577C1294.03 136.928 1265.08 119 1232 119C1215.11 119 1198.88 123.673 1184.8 132.389C1163.39 96.397 1124.83 74 1082 74C1022.17 74 972.422 118.018 963.444 175.369C947.459 160.855 926.246 152 903 152C886.11 152 869.88 156.673 855.803 165.389C834.387 129.397 795.832 107 753 107C710.158 107 672.487 129.569 651.251 163.442C635.542 150.075 615.199 142 593 142C576.11 142 559.88 146.673 545.803 155.389C524.387 119.397 485.832 97 443 97C400.012 97 362.23 119.723 341.034 153.789C324.552 132.631 298.841 119 270 119C253.11 119 236.88 123.673 222.803 132.389C201.387 96.397 162.832 74 120 74C53.8333 74 0.000244141 127.833 0.000244141 194C0.000244141 194.41 0.000244141 194.835 0.0152435 195.245L0.000244141 195.248V295H1920Z" />
    </svg>
</div>
<section class="bg-vs-secondary space-extra-bottom">
    <div class="container">
        <div class="row gx-0  pt-2">
            <div class="col-md-6 col-xl-3" data-aos="zoom-in-down" data-aos-duration="2000">
                <div class="feature-style2">
                    <div class="feature-img">
                        <div class="vs-circle"></div>
                        <img src="../static/img/choose/choose-1-1.png" alt="image">
                    </div>
                    <h3 class="feature-title h5"><a href="#" class="text-inherit">THE PHILOSOPHY </a>
                    </h3>
                    <p class="feature-text">A Child’s path to excellence begins with the perfect role model and the
                        perfect tools.</p>
                    <br>
                    <a href="../templates/curriculam.php" class="vs-btn banner" tabindex="0">Read More</a>
                </div>
            </div>
            <div class="col-md-6 col-xl-3" data-aos="zoom-in-down" data-aos-duration="2000">
                <div class="feature-style2">
                    <div class="feature-img">
                        <div class="vs-circle"></div>
                        <img src="../static/img/choose/choose-1-2.png" alt="image">
                    </div>
                    <h3 class="feature-title h5"><a href="#" class="text-inherit">THE ENVIRONMENT</a>
                    </h3>
                    <p class="feature-text">The environment is a major part of our curriculum. A young child must get
                        daily</p>
                    <br>
                    <a href="../templates/curriculam.php" class="vs-btn banner" tabindex="0">Read More</a>
                </div>
            </div>
            <div class="col-md-6 col-xl-3" data-aos="zoom-in-down" data-aos-duration="2000">
                <div class="feature-style2">
                    <div class="feature-img">
                        <div class="vs-circle"></div>
                        <img src="../static/img/choose/choose-1-3.png" alt="image">
                    </div>
                    <h3 class="feature-title h5"><a href="#" class="text-inherit">THE TEACHERS</a>
                    </h3>
                    <p class="feature-text">Our staff is trained to ensure that the curriculum objectives for each child
                        are met consistently.</p>
                    <br>
                    <a href="../templates/curriculam.php" class="vs-btn banner" tabindex="0">Read More</a>
                </div>
            </div>
            <div class="col-md-6 col-xl-3" data-aos="zoom-in-down" data-aos-duration="2000">
                <div class="feature-style2">
                    <div class="feature-img">
                        <div class="vs-circle"></div>
                        <img src="../static/img/choose/choose-1-4.png" alt="image">
                    </div>
                    <h3 class="feature-title h5"><a href="#" class="text-inherit">METHADOLOGY</a>
                    </h3>
                    <p class="feature-text">Teachers are facilitators,
                        Self-Learning Environment,
                        Each Child at his own pace,
                        Self-correction </p>
                    <br>
                    <a href="../templates/curriculam.php" class="vs-btn banner" tabindex="0">Read More</a>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="bg-vs-secondary space-extra-bottom">
    <div class="container">
        <div class="row gx-0  pt-2">
            <div class="col-md-6 col-xl-3" data-aos="zoom-in-up" data-aos-duration="2000">
                <div class="feature-style2">
                    <div class="feature-img">
                        <div class="vs-circle"></div>
                        <img src="../static/img/choose/choose-1-5.png" alt="image">
                    </div>
                    <h3 class="feature-title h5"><a href="#" class="text-inherit">LEARNING MODES</a>
                    </h3>
                    <p class="feature-text">Our curriculum has activities that are specifically designed to help a child
                        in every area of development.</p>
                    <br>
                    <a href="../templates/curriculam.php" class="vs-btn banner" tabindex="0">Read More</a>
                </div>
            </div>
            <div class="col-md-6 col-xl-3" data-aos="zoom-in-up" data-aos-duration="2000">
                <div class="feature-style2">
                    <div class="feature-img">
                        <div class="vs-circle"></div>
                        <img src="../static/img/choose/choose-1-6.png" alt="image">
                    </div>
                    <h3 class="feature-title h5"><a href="#" class="text-inherit">ACADEMIC LEARNING</a>
                    </h3>
                    <p class="feature-text">Every activity in the school is done with a clear-cut objective and outcome
                        for the child.</p>
                    <br>
                    <a href="../templates/curriculam.php" class="vs-btn banner" tabindex="0">Read More</a>
                </div>
            </div>
            <div class="col-md-6 col-xl-3" data-aos="zoom-in-up" data-aos-duration="2000">
                <div class="feature-style2">
                    <div class="feature-img">
                        <div class="vs-circle"></div>
                        <img src="../static/img/choose/choose-1-7.png" alt="image">
                    </div>
                    <h3 class="feature-title h5"><a href="#" class="text-inherit">NON-ACADEMIC <br> LEARNING</a>
                    </h3>
                    <p class="feature-text">The curriculum provides opportunities for children to make decisions..</p>
                    <br>
                    <a href="../templates/curriculam.php" class="vs-btn banner" tabindex="0">Read More</a>
                </div>
            </div>
            <div class="col-md-6 col-xl-3" data-aos="zoom-in-up" data-aos-duration="2000">
                <div class="feature-style2">
                    <div class="feature-img">
                        <div class="vs-circle"></div>
                        <img src="../static/img/choose/choose-1-8.png" alt="image">
                    </div>
                    <h3 class="feature-title h5"><a href="#" class="text-inherit">ASSESSMENT</a>
                    </h3>
                    <p class="feature-text">Assessment in the early years of a child has to be a continuous process. Our
                        system constantly </p>
                    <br>
                    <a href="../templates/curriculam.php" class="vs-btn banner" tabindex="0">Read More</a>
                </div>
            </div>
        </div>
    </div>
</section>
<br>
<section class="space-extra-bottom" data-aos="flip-up" data-aos-duration="2000">
        <div class="container">
            <div class="row gx-80">
                <div class="col-lg-12 align-self-center">
                    <div class="title-area text-center text-lg-start">
                        <h2>FAQ</h2>
                    </div>
                    <div class="accordion accordion-style1" id="faqVersion1">
                        <div class="accordion-item active">
                            <div class="accordion-header" id="headingOne1">
                                <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapseOne1" aria-expanded="true" aria-controls="collapseOne1">
                                    Why Choose Rising Star School of Excellence, Puzhal, Chennai?
                                </button>
                            </div>
                            <div id="collapseOne1" class="accordion-collapse collapse show"
                                aria-labelledby="headingOne1" data-bs-parent="#faqVersion1">
                                <div class="accordion-body">
                                    <h4>Academic Excellence and Best Curriculum in Chennai.</h4>
                                    <p>
                                        At Rising Star School of Excellence, we offer an exceptional academic curriculum
                                        that ensures students are well-prepared for higher education and life beyond
                                        school. Our curriculum is designed to develop critical thinking, problem-solving
                                        skills, and a strong academic foundation in subjects like Mathematics, Science,
                                        English, and Social Studies, making us one of the top schools in Chennai.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <div class="accordion-header" id="headingTwo1">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapseTwo1" aria-expanded="false" aria-controls="collapseTwo1">
                                    Experienced and Caring Faculty at Rising Star
                                </button>
                            </div>
                            <div id="collapseTwo1" class="accordion-collapse collapse" aria-labelledby="headingTwo1"
                                data-bs-parent="#faqVersion1">
                                <div class="accordion-body">
                                    <p>Our team of dedicated teachers and staff play a significant role in the success
                                        of our students. At Rising Star School of Excellence, we believe that effective
                                        learning is supported by compassionate educators who understand each child’s
                                        needs and potential. Our teachers inspire and motivate students to do their
                                        best, and our small student-to-teacher ratio ensures personalized attention to
                                        every learner.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <div class="accordion-header" id="headingThree1">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapseThree1" aria-expanded="false"
                                    aria-controls="collapseThree1">State-of-the-Art Facilities at Our School in Puzhal
                                </button>
                            </div>
                            <div id="collapseThree1" class="accordion-collapse collapse" aria-labelledby="headingThree1"
                                data-bs-parent="#faqVersion1">
                                <div class="accordion-body">
                                    <p>We provide world-class facilities, including modern classrooms, smart boards,
                                        well-equipped science labs, a library, and sports facilities. These resources
                                        enable our students to experience the best of both academics and extracurricular
                                        activities. Our school infrastructure is designed to support a comprehensive,
                                        engaging, and enjoyable learning experience for all our students.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <div class="accordion-header" id="headingFour1">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapseFour1" aria-expanded="false" aria-controls="collapseFour1">
                                    Focus on Extracurricular Activities for All-Round Development
                                </button>
                            </div>
                            <div id="collapseFour1" class="accordion-collapse collapse" aria-labelledby="headingFour1"
                                data-bs-parent="#faqVersion1">
                                <div class="accordion-body">
                                    <p>Extracurricular activities are an integral part of life at Rising Star. We offer
                                        a wide range of programs such as sports, arts, music, dance, and cultural
                                        activities that help students develop their talents and become well-rounded
                                        individuals. Our holistic approach ensures that every child discovers their
                                        unique abilities and interests, making us one of the most sought-after schools
                                        in Chennai for extracurriculars.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <div class="accordion-header" id="headingFive1">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapseSix1" aria-expanded="false" aria-controls="collapseSix1">
                                    Emphasis on Social-Emotional Learning (SEL)

                                </button>
                            </div>
                            <div id="collapseSix1" class="accordion-collapse collapse" aria-labelledby="headingFive1"
                                data-bs-parent="#faqVersion1">
                                <div class="accordion-body">
                                    <p>In addition to academic subjects, we prioritize the emotional and social
                                        development of our students. Through Social-Emotional Learning (SEL) programs,
                                        we help students build resilience, self-awareness, and empathy—skills that are
                                        essential in today’s world. Our SEL-focused curriculum ensures that students
                                        become not just academically competent but also emotionally intelligent.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <div class="accordion-header" id="headingFive1">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapseSeven1" aria-expanded="false"
                                    aria-controls="collapseSeven1">
                                    Technology-Integrated Learning

                                </button>
                            </div>
                            <div id="collapseSeven1" class="accordion-collapse collapse" aria-labelledby="headingFive1"
                                data-bs-parent="#faqVersion1">
                                <div class="accordion-body">
                                    <p>We incorporate technology in education to enhance the learning experience. Our
                                        students are exposed to digital tools, interactive lessons, and online learning
                                        platforms that make learning engaging and relevant in today’s digital age. By
                                        using the latest educational technologies, Rising Star School of Excellence
                                        helps students stay ahead in an ever-evolving world.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <div class="accordion-header" id="headingFive1">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapseEight1" aria-expanded="false"
                                    aria-controls="collapseEight1">
                                    Our Curriculum – A Perfect Blend of Academics and Creativity
                                </button>
                            </div>
                            <div id="collapseEight1" class="accordion-collapse collapse" aria-labelledby="headingFive1"
                                data-bs-parent="#faqVersion1">
                                <div class="accordion-body">
                                    <p>At Rising Star School of Excellence, we believe that an excellent curriculum is
                                        essential for the holistic development of a child. Our carefully crafted
                                        curriculum balances academic rigor with creativity, offering a range of subjects
                                        that provide students with opportunities to explore and excel.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
<br><br>
{% endblock %}